
<div class="panel-body">
    <h5>$OdC para el intervalo: <%= opc%></h5>
    <h5>$Valor futuro promedio: <%= prom%></h5>
</div>
<div id="form_opc">
    <form id="buq_opc">
        <label for="valor_contrato"><h5>Valor de Acción a Futuro por Contrato</h5></label>
        <div class="form-inline">
            <input type="text" class="form-control" name="valor_contrato" style="width:35%" required>
            <input type="hidden" class="form-control" name="prom" value=<%= prom%>>
            <input type="hidden" class="form-control" name="dif" value=<%= opc%>>
            <button type="submit" class="btn btn-submit" style="margin-left:5px" id="fsubmit2"><i class="glyphicon glyphicon-usd" style="font-size:35px;text-shadow:2px 2px 4px #000000"></i></button>
        </div>
    </form>
</div>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Adjusted Close</th>
        <th>Volume</th>
    </tr>
    <tbody id="stock_rows">
    <% for(var i = 0;i<data.length - 1  ;i++){
        data[i] = data[i].split(",");%>
    <tr>
        <td><%= data[i][0]%></td>
        <td><%= data[i][1]%></td>
        <td><%= data[i][2]%></td>
        <td><%= data[i][3]%></td>
        <td><%= data[i][4]%></td>
        <td><%= data[i][5]%></td>
        <td><%= data[i][6]%></td>
    </tr>
    <%}%>
    </tbody>
</table>