<div class="container">
  <br>
  <%
  if(data.length < 5){
  %>
  <table class="table table-bordered">
      <tr class="success">
          <th>Date</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
          <th>Adjusted Close</th>
          <th>Volume</th>
      </tr>
      <%for(var i = 0; i<data.length; i++){
          data[i] = data[i].split(",");%>
      <tr>
          <td><%= data[i][0]%></td>
          <td><%= data[i][1]%></td>
          <td><%= data[i][2]%></td>
          <td><%= data[i][3]%></td>
          <td><%= data[i][4]%></td>
          <td><%= data[i][5]%></td>
          <td><%= data[i][6]%></td> 
      </tr>
      <%}%>
      </table>
  <%}%>
  <div id="chart_div"></div>
</div>

<script>
  //Grafico
  var valores = [];
  var data = "<%= JSON.stringify(data) %>";
  data = data.replace(/\&#34;/g,"'").replace(/\['/g,"").replace(/\']/g,"");
  data = data.split("','");
  console.log(data);
  for(var i=0; i< data.length; i++){
    data[i] = data[i].split(",");
    fecha = new Date(data[i][0]);
    valores[i] = new Array(fecha,parseFloat(data[i][4]));
  }

  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var grafico = new google.visualization.DataTable();
    grafico.addColumn('date', 'Time of Day');
    grafico.addColumn('number', 'Accion');
    grafico.addRows(valores);

  var options = {
    title: 'Grafica de Acciones',
    hAxis: {
      title: 'Fecha',
      format:'d/MM/yy',
      slantedText: true
    },
    vAxis: {
      title: 'Accion'
    }
  };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(grafico, options);
  }

</script>

