<div class="container">
  <br>
  <%
  if(data.length < 5){
  %>
  <table class="table table-bordered">
      <tr class="success">
          <th>Date</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
          <th>Adjusted Close</th>
          <th>Volume</th>
      </tr>
      <%for(var i = 0; i<data.length; i++){
          data[i] = data[i].split(",");%>
      <tr>
          <td><%= data[i][0]%></td>
          <td><%= data[i][1]%></td>
          <td><%= data[i][2]%></td>
          <td><%= data[i][3]%></td>
          <td><%= data[i][4]%></td>
          <td><%= data[i][5]%></td>
          <td><%= data[i][6]%></td> 
      </tr>
      <%}%>
      </table>
  <%}%>
  <div id="chart_div"></div>
</div>

<!-- Parametros para simulaciones -->
<div id="form_opc">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <form id="busq_opc">
                <div class="row">
                    <div class="form-group col-sm-4" style="width:30%">
                        <label for="valor_contrato"><h5>Valor a Futuro por Contrato</h5></label>
                        <input type="number" class="form-control" name="valor_contrato" min="0" required>
                    </div>
                    <div class="form-group col-sm-4" style="width:30%">
                        <label for="eleccion"><h5>Vende o Compra Acción</h5></label>
                        <select name="eleccion" class="form-control" id="symselect" required>
                          <option value="#" disabled selected>Elegir vender o comprar</option>
                          <option value="compra">Comprar</option>
                          <option value="vende">Vender</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-submit" style="margin-left:5px;margin-top:30px" id="fsubmit2"><span style="height:40px">Enviar</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  var valores = [];
  var data = "<%= JSON.stringify(data) %>";
  data = data.replace(/\&#34;/g,"'").replace(/\['/g,"").replace(/\']/g,"");
  data = data.split("','");
  console.log(data);
  for(var i=0; i< data.length; i++){
    data[i] = data[i].split(",");
    fecha = new Date(data[i][0]);
    valores[i] = new Array(fecha,parseFloat(data[i][4]));
  }

  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var grafico = new google.visualization.DataTable();
    grafico.addColumn('date', 'Time of Day');
    grafico.addColumn('number', 'Accion');
    grafico.addRows(valores);

  var options = {
    title: 'Grafica de Acciones',
    hAxis: {
      title: 'Fecha',
      format:'d/MM/yy',
      slantedText: true
    },
    vAxis: {
      title: 'Accion'
    }
  };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(grafico, options);
  }
</script>

